/mf-gateway/target/
/mf-common/mf-common-redis/target/
/mf-common/mf-common-core/target/
/.idea/
/logs/
/mf-oauth/target/
/mf-common/mf-common-swagger/target/
/mf-common/mf-common-oauth/target/
/mf-test/target/
/mf-common/mf-common-ds/target/
/mf-code-create/target/
/mf-code-create/logs/
/mf-business/mf-web/target/
/mf-business/mf-sys/target/
/mf-api/mf-sys-api/target/
/mf-common/mf-common-log/target/
/mf-common/mf-common-web/target/
/mf-api/mf-oauth-api/target/
/mf-oauth/logs/
/storage/
/mf-storage/target/
/mf-monitor/target/
