/mf-gateway/target/
/mf-common/mf-common-redis/target/
/mf-common/mf-common-core/target/
/.idea/
/logs/
/mf-oauth/target/
/mf-common/mf-common-swagger/target/
/mf-common/mf-common-oauth/target/
/mf-test/target/
/mf-common/mf-common-ds/target/
/mf-code-create/target/
/mf-code-create/logs/
