/mf-gateway/target/
/mf-common/mf-common-redis/target/
/mf-common/mf-common-core/target/
/.idea/
/logs/
/mf-oauth/target/
/mf-common/mf-common-swagger/target/
/mf-common/mf-common-oauth/target/
/mf-test/target/
/mf-common/mf-common-ds/target/
/mf-code-create/target/
/mf-code-create/logs/
/mf-business/mf-web/target/
/mf-business/mf-sys/target/
/mf-api/mf-sys-api/target/
/mf-common/mf-common-log/target/
/mf-common/mf-common-web/target/
/mf-api/mf-oauth-api/target/
/mf-oauth/logs/
/storage/
/mf-storage/target/
/mf-monitor/target/
/mf-scheduler/target/
/mf-business/mf-openai/target/
/mf-common/mf-common-scheduler/target/
/mf-common/mf-common-app/target/
/mf-business/mf-consume/target/
/mf-api/mf-scheduler-api/target/
/mf-test/logs/
/mf-common/mf-common-dblink/target/
/mf-common/mf-common-file/target/
/mf-api/mf-code-api/target/
/mf-common/mf-common-dataset/target/
/target/
/mf-api/target/
/mf-common/target/
/mf-business/target/
