<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.code.mapper.MysqlTableMapper">
    <select id="getColumns" resultType="cn.com.mfish.code.entity.FieldInfo">
        select column_name field_name
        , data_type db_type
        , if(column_key = 'PRI', true, false) is_primary
        , if(is_nullable = 'NO', false, true) null_able
        , column_comment comment
        from information_schema.columns
        <where>
            table_name = #{tableName}
            <if test="schema !=null and schema != ''">
                and table_schema = #{schema}
            </if>
        </where>
    </select>
</mapper>