<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.scheduler.mapper.JobSubscribeMapper">
    <insert id="insertJobSubscribes">
        insert into qrtz_job_subscribe(id,job_id,cron,start_time,end_time,status) values
        <foreach collection="jobSubscribeList" item="subscribe" separator=",">
            (#{subscribe.id},#{subscribe.jobId},#{subscribe.cron},#{subscribe.startTime},#{subscribe.endTime},#{subscribe.status})
        </foreach>
    </insert>
    <select id="getSubscribesByJobIds" resultType="cn.com.mfish.scheduler.entity.JobSubscribe">
        select * from qrtz_job_subscribe
        <where>
            <choose>
                <when test="jobIds==null or jobIds.size == 0">
                    1!=1
                </when>
                <otherwise>
                    job_id in (
                    <foreach collection="jobIds" item="jobId" separator=",">
                        #{jobId}
                    </foreach>
                    )
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
