<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.oauth.mapper.SsoOrgMapper">
    <insert id="insertOrg" parameterType="cn.com.mfish.common.oauth.api.entity.SsoOrg">
        insert into sso_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, parent_id, org_code, org_level,
            <if test="orgName != null">org_name,</if>
            <if test="orgFixCode != null">org_fix_code,</if>
            <if test="orgSort != null">org_sort,</if>
            <if test="leader != null">leader,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            create_by, create_time
        </trim>
        select
        <trim suffixOverrides=",">
            #{id}, #{parentId},
            CONCAT(pcode,LPAD(SUBSTR(IFNULL((SELECT max( org_code ) FROM sso_org WHERE parent_id = #{parentId} ),
            0),(lvl-1)*5+1)+ 1, 5, 0 )),
            lvl,
            <if test="orgName != null">#{orgName},</if>
            <if test="orgFixCode != null">#{orgFixCode},</if>
            <if test="orgSort != null">#{orgSort},</if>
            <if test="leader != null">#{leader},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            #{createBy}, now()
        </trim>
        from (select IFNULL(org_code,'') pcode,IFNULL(org_level,0)+1 lvl from (SELECT '' FROM dual) d left join
        sso_org on id = #{parentId}) t
    </insert>
    <sql id="reqCondition">
        <if test="reqSsoOrg.orgName != null">and org_name like concat('%',#{reqSsoOrg.orgName},'%')</if>
        <if test="reqSsoOrg.leader != null">and leader like concat('%',#{reqSsoOrg.leader},'%')</if>
        <if test="reqSsoOrg.phone != null">and phone like concat('%',#{reqSsoOrg.phone},'%')</if>
        <if test="reqSsoOrg.status!=null">and status = #{reqSsoOrg.status}</if>
    </sql>
    <select id="queryMaxOrgLevel" resultType="java.lang.Integer">
        select max(org_level) from sso_org
        <where>
            <include refid="reqCondition"/>
        </where>
    </select>
    <resultMap id="orgMap" type="cn.com.mfish.common.oauth.api.entity.SsoOrg">
        <result property="roleIds" column="roleIds"
                typeHandler="cn.com.mfish.oauth.handler.StrToListTypeHandler"/>
    </resultMap>
    <sql id="selectOrg">
        <if test="reqSsoOrg.tenantId==null or reqSsoOrg.tenantId == ''">
            SELECT * FROM sso_org
        </if>
        <if test="reqSsoOrg.tenantId!=null">
            select * from (SELECT * FROM sso_org WHERE org_code LIKE (SELECT CONCAT(org_code,'%') FROM sso_org WHERE
            tenant_id = #{reqSsoOrg.tenantId})) sso_org
        </if>
    </sql>
    <select id="queryOrg" resultMap="orgMap">
        select o.*, GROUP_CONCAT(DISTINCT r.id) roleIds from (
        <include refid="selectOrg" />
        <where>
            del_flag = 0
            <include refid="reqCondition"/>
        </where>
        <foreach collection="levels" item="value">
            UNION
            <include refid="selectOrg" />
            WHERE org_code IN (SELECT DISTINCT SUBSTR(org_code, 1,(org_level-#{value})*5)
            FROM
            sso_org
            <where>
                del_flag = 0
                <include refid="reqCondition"/>
            </where>
            )
        </foreach>
        ) o
        left join sso_org_role sor on o.id = sor.org_id
        left join sso_role r on sor.role_id = r.id and r.del_flag = 0
        group by o.id
        order by o.org_sort
    </select>
    <select id="orgFixCodeExist" resultType="int">
        select count(0) from sso_org
        <where>
            org_fix_code = #{orgFixCode} and del_flag = 0
            <if test="orgId!=null and orgId!=''">
                and id != #{orgId}
            </if>
        </where>
    </select>
    <insert id="insertOrgRole">
        insert into sso_org_role(role_id, org_id) values
        <foreach collection="roles" item="role" separator=",">
            (#{role},#{orgId})
        </foreach>
    </insert>
    <select id="getOrgRoles" resultType="cn.com.mfish.common.oauth.api.entity.UserRole">
        select r.id, r.role_name, r.role_code,1 source
        from sso_role r
        inner join sso_org_role sor on r.id = sor.role_id
        <where>
            r.status = 0 and r.del_flag = 0 and sor.org_id in
        <foreach collection="orgIds" item="orgId" separator="," open="(" close=")">
            #{orgId}
        </foreach>
        </where>
    </select>
    <select id="isTenantOrg" resultType="java.lang.Integer">
        select count(0)
        from (SELECT *
              FROM sso_org
              WHERE org_code LIKE (SELECT CONCAT(org_code, '%')
                                   FROM sso_org
                                   WHERE tenant_id = #{tenantId})) sso_org
        where id = #{orgId}
    </select>
    <select id="queryUserByCode" resultType="cn.com.mfish.common.oauth.api.entity.UserInfo">
        select su.*
        from sso_user su
        inner JOIN sso_org_user sou on sou.user_id = su.id
        inner JOIN sso_org so on so.id = sou.org_id
        WHERE so.org_code like (select CONCAT(org_code, '%') from sso_org o
        where o.org_fix_code = #{code} and o.status=0 and o.del_flag=0
        )
        <if test="reqOrgUser.nickname != null and reqOrgUser.nickname != ''">
            and su.nickname like CONCAT('%',#{reqOrgUser.nickname},'%')
        </if>
        <if test="reqOrgUser.account != null and reqOrgUser.account != ''">
            and su.account like CONCAT('%',#{reqOrgUser.account},'%')
        </if>
        <if test="reqOrgUser.phone != null and reqOrgUser.phone != ''">
            and su.phone like CONCAT('%',#{reqOrgUser.phone},'%')
        </if>
    </select>
</mapper>
