<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.oauth.mapper.SsoRoleMapper">
    <insert id="insertRoleMenus">
        insert into sso_role_menu(role_id, menu_id) values
        <foreach collection="menuList" item="menu" separator=",">
            (#{roleId},#{menu})
        </foreach>
    </insert>
    <select id="roleCodeExist" resultType="int">
        select count(0) from sso_role
        <where>
            role_code = #{roleCode}
            <if test="roleId!=null and roleId!=''">
                and id != #{roleId}
            </if>
        </where>
    </select>
    <resultMap id="roleMap" type="cn.com.mfish.oauth.entity.SsoRole">
        <result property="menus" column="menus" typeHandler="cn.com.mfish.oauth.handler.StrToListTypeHandler"></result>
    </resultMap>
    <select id="getRoleUser" resultType="string">
        select ur.user_id
        from sso_user_role ur
        where ur.role_id = #{roleId}
        union
        select ou.user_id
        from sso_org_user ou
                 inner join sso_org_role sor on sor.role_id = #{roleId}
    </select>
</mapper>
