<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.oauth.mapper.SsoRoleMapper">
    <insert id="insertRoleMenus">
        insert into sso_role_menu(role_id, menu_id) values
        <foreach collection="menuList" item="menu" separator=",">
            (#{roleId},#{menu})
        </foreach>
    </insert>
    <select id="roleCodeExist" resultType="int">
        select count(0) from sso_role
        <where>
            client_id = #{clientId} and role_code = #{roleCode}
            <if test="roleId!=null and roleId!=''">
                and id != #{roleId}
            </if>
        </where>
    </select>
    <resultMap id="roleMap" type="cn.com.mfish.oauth.entity.SsoRole">
        <result property="menus" column="menus" typeHandler="cn.com.mfish.oauth.handler.StrToListTypeHandler"></result>
    </resultMap>
    <select id="getRoleList" resultMap="roleMap">
        select r.*,GROUP_CONCAT(rm.menu_id) menus from sso_role r
        left join sso_role_menu rm on r.id = rm.role_id
        <where>
            r.del_flag = 0
            <if test="clientId != null and clientId != ''">
                and r.client_id = #{clientId}
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
            <if test="roleCode != null and roleCode != ''">
                and r.role_code like CONCAT('%',#{roleCode},'%')
            </if>
            <if test="roleName != null and roleName != ''">
                and r.role_name like CONCAT('%',#{roleName},'%')
            </if>
        </where>
        group by r.id
    </select>
</mapper>
