<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.oauth.mapper.SsoUserMapper">
    <sql id="byAccount">
        (1!=1
        <if test="account != null and account != ''">
            or account = #{account}
            or phone = #{account}
            or email = #{account}
        </if>
        )
    </sql>
    <select id="getUserByAccount" resultType="cn.com.mfish.oauth.entity.SsoUser">
        select * from sso_user
        <where>
            <include refid="byAccount"/>
            and status = 0 and del_flag = 0
        </where>
    </select>
    <select id="isAccountExist" resultType="java.lang.Integer">
        select count(0) from sso_user
        <where>
            <include refid="byAccount"/>
        </where>
    </select>
    <select id="getUserList" resultType="cn.com.mfish.oauth.api.entity.UserInfo">
        select u.*,o.org_name,ou.org_id from sso_user u
        left join sso_org_user ou on ou.user_id = u.id
        left join sso_org o on o.id = ou.org_id
        <where>
            u.status = 0 and u.del_flag = 0
            <if test="orgId != null and orgId != ''">
                and o.id = #{orgId}
            </if>
        </where>
    </select>
</mapper>