<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.oauth.mapper.SsoUserMapper">
    <select id="getUserByAccount" resultType="cn.com.mfish.oauth.entity.SsoUser">
        select * from sso_user
        <where>
            1!=1
            <if test="account != null and account != ''">
                or account = #{account}
                or phone = #{account}
                or email = #{account}
                or id = #{account}
            </if>
        </where>
    </select>
</mapper>