<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>摸鱼低代码平台</title>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
</head>
<body>
<input type="hidden" th:value="${errorMsg}" id="errorMsg"/>
<input type="hidden" th:value="${loginType}" id="loginType"/>
<input type="hidden" th:value="${username}" id="username"/>
<section id="newLogin" class="login">
    <div class="logo -enter-x">
        <div class="brand">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="title">
            <h4>摸鱼低代码平台</h4>
            <h6>MFish NoCode</h6>
        </div>
    </div>
    <div id="errorShow" data-bs-toggle="modal" data-bs-target="#errorModal" style="position: absolute">
    </div>
    <div class="modal fade" id="errorModal">
        <div class="modal-dialog">
            <div class="alert alert-danger" role="alert">
                {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-left" v-if="showLeft">
            </div>
            <div class="card-wrapper enter-x">
                <div class="card fat" v-if="cardRefresh">
                    <div class="card-body">
                        <h4 class="card-title mb-2">{{loginTypeName}}登录</h4>
                        <div v-show="userPasswordVisible">
                            <form id="login" method="POST" class="enter-x">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" :class="{'is-invalid':error.username.show,'is-valid':isValid}"
                                           id="inputUsername" v-model="username" name="username" placeholder="用户名" @blur="validateUserName">
                                    <label for="inputUsername">用户名</label>
                                    <div class="invalid-feedback" v-if="error.username.show">
                                        {{error.username.msg}}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control"
                                           :class="{'is-invalid':error.password.show,'is-valid':isValid}" id="inputPassword"
                                           v-model="password" name="password" placeholder="密码" @blur="validatePassword">
                                    <label for="inputPassword">密码</label>
                                    <div class="invalid-feedback" v-if="error.password.show">
                                        {{error.password.msg}}
                                    </div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" :class="{'is-invalid':error.captcha.show,'is-valid':isValid}" id="inputCaptcha"
                                               v-model="captchaValue" name="captchaValue" placeholder="验证码" @blur="validateCaptcha">
                                        <input type="hidden" name="captchaKey" v-model="captchaKey">
                                        <label for="inputCaptcha">验证码</label>
                                        <div class="invalid-feedback" v-if="error.captcha.show">
                                            {{error.captcha.msg}}
                                        </div>
                                    </div>
                                    <span><img :src="captchaUrl" @click="getCaptcha" class="captcha"/></span>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" id="rememberMe" type="checkbox" name="rememberMe"
                                           v-model="rememberMe">
                                    <label class="form-check-label" for="rememberMe">
                                        记住我
                                    </label>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button type="button" class="btn btn-primary btn-block" @click="login">登录</button>
                                </div>
                                <div class="btn-tabs d-flex">
                                    <button type="button" class="btn btn-tab btn-default" @click="showPhoneSmsCode">
                                        手机登录
                                    </button>
                                    <button type="button" class="btn btn-tab btn-default" @click="showQrCode">扫码登录
                                    </button>
                                    <button type="button" class="btn btn-tab btn-default" disabled>用户注册</button>
                                </div>
                                <input type="hidden" v-model="loginType" name="loginType"/>
                            </form>
                        </div>
                        <div v-show="phoneSmsCodeVisible">
                            <form id="smsLogin" method="post" class="enter-x">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" :class="{'is-invalid':error.phone.show,'is-valid':isValid}"
                                           id="inputPhone" v-model="phone" name="username" placeholder="手机号" @blur="validatePhone">
                                    <label for="inputPhone">手机号</label>
                                    <div class="invalid-feedback" v-if="error.phone.show">
                                        {{error.phone.msg}}
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating" :class="{'is-invalid':error.code.show,'is-valid':isValid}">
                                        <input type="text" class="form-control" :class="{'is-invalid':error.code.show}"
                                               id="inputCode" v-model="codeValue" name="password" placeholder="验证码" @blur="validateCode">
                                        <label for="inputCode">验证码</label>
                                    </div>
                                    <span class="btn btn-tab btn-block code" @click="sendMsg" :disabled="codeDisabled">
                                        <div v-if="codeDisabled">{{codeButton}}</div>
                                        <svg v-else xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                        </svg>
                                    </span>
                                    <div class="invalid-feedback" v-if="error.code.show">
                                        {{error.code.msg}}
                                    </div>
                                </div>
                                <input type="hidden" v-model="loginType" name="loginType"/>
                                <div class="d-grid gap-2 mb-3">
                                    <button type="button" class="btn btn-primary btn-block" @click="smsLogin">登录
                                    </button>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button type="button" class="btn btn-tab btn-block" @click="showUserPassword">返回
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div v-show="qrCodeVisible" class="enter-x">
                            <form id="qrCodeLogin" method="post">
                                <input type="hidden" v-model="qrCodeName" name="username"/>
                                <input type="hidden" v-model="qrCodeSecret" name="password"/>
                                <input type="hidden" v-model="loginType" name="loginType"/>
                            </form>
                            <div class="qrcode-img mb-3">
                                <div>
                                    <img class="qrcode" id="qrCode" :src="qrCode"/>
                                    <div class="qrcode-status"  v-if="scanStatus==3" >
                                        <p>二维码已失效</p>
                                        <button type="button" class="btn btn-primary btn-block" @click="refreshQrCode">刷新二维码
                                        </button>
                                    </div>
                                    <div class="qrcode-status"  v-if="scanStatus==1" >
                                        <img src="img/success.png" />
                                        <p>扫描成功</p>
                                        <p>请在手机上确认登录</p>
                                    </div>
                                </div>
                            </div>
                            <div class="qrcode-desc mb-3">
                                <label>{{qrCodeDesc}}</label>
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button type="button" class="btn btn-tab btn-block" @click="showUserPassword">返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2023 &mdash; 摸鱼低代码平台
    </div>
</section>
<script src="js/login.js"></script>
</body>
</html>