<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mfish.sys.mapper.DictMapper">
    <select id="isDictCodeExist" resultType="java.lang.Integer">
        select count(0) from sys_dict
        <where>
            dict_code = #{dictCode}
            <if test="id != null and id != ''">
                and id != #{id}
            </if>
        </where>
    </select>
</mapper>
