.login {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00fff0;
    background: -webkit-linear-gradient(to left, #0083fe, #00fff0);
    background: linear-gradient(to left, #0083fe, #00fff0);
    height: 100vh;
}
.captcha{
    width: 90px;
    border-radius: 0 4px 4px 0;
}
.sso-form {
    width: 320px;
    color: white;
}
.qr-code{
    width: 240px;
    height: 240px;
}
.error-msg{
    margin-top: 10px;
    color: red;
}